h1{
 text-align: center;
}

#addNew{
  border: 3px double black;
  padding: 5px;
  width: 600px;
  height: 340px;
}

.dobZit{
  text-align: left;
}

p.avtor{
  text-align: right;
}

p.tvir{
  text-align: right;
}

#new-author{
  width: 280px;
}

#new-sourse{
  width: 280px;
}

textarea{
  width: 590px;
  height: 85px;
  padding: 5px;
}

p.adBut{
  text-align: right;
}

#old-phrases{
  width: 590px;
}